body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 55px;
    font-size: 1.2em;
}

form {
    display: inline-block;
    padding: 30;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #f9f9f9;
}
