body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    font-size: 1em;
}

form {
    display: inline-block;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}
